* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.weather-img{
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  height: 50vh;
}


.weather-card {
  display: flex;
  font-size: large;
  justify-content: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-info p {
  width: 100%;
  border: 2px solid rgb(161, 46, 161);
  padding: 10px;
}